<tr routerLink='/crops'>go to Crops</tr>
<tr routerLink='/login' (click)=handleLogout()>logout</tr>
<p>All the crop details of {{cropDetails.name}} are</p>
<p>alias: {{cropDetails.alias}}</p>
<hr>
<p>veriety:</p>
<div>{{cropDetails.veriety}}</div>
<hr>
<p>duration:</p>
<div>{{cropDetails.duration}}</div>
<hr>
<p>seedSelection:</p>
<div>{{cropDetails.seedSelection}}</div>
<hr>
<p>prepration:</p>
<div>{{cropDetails.prepration}}</div>
<hr>
<p>sowing:</p>
<div>{{cropDetails.sowing}}</div>
<hr>
<p>irigation:</p>
<div>{{cropDetails.irigation}}</div>
<hr>
<p>fertilizers:</p>
<div>{{cropDetails.fertilizers}}</div>
<hr>
<p>harvesting:</p>
<div>{{cropDetails.harvesting}}</div>
<hr>
<p>diseases:</p>
<div>{{cropDetails.diseases}}</div>
<hr>
<p>prevention:</p>
<div>{{cropDetails.prevention}}</div>
<hr>